* {
  margin: 0;
  padding: 0;
}

.icon-item {
  display: inline-block;
}

.icon-img {
  width: 50px;
  margin-right: 10px;
  padding: 10px 5px;
}

.icon-img:hover {
  width: 60px;
  margin-right: 10px;
  padding: 0px;
}


.icon2 {
  width: 70px;
  display: inline;
}

.text-reference {
  color: white;
  margin-left: 15px;
}

.link {
  text-decoration: none;
  color: aqua;
}

.link:hover {
  text-decoration: underline;
  color: aqua;
}

.projects-images {
  width: 300px;
  height: 169.25px;
  filter: blur(3px);
  border: 3px solid #6610f2;
  border-radius: 5px;
  transition-duration: 0.25s;
}

.projects-images:hover {
  width: 310px;
  height: 169px;
  filter: blur(0px);
  border: 3px solid #9462e4;
  border-radius: 5px;
  transition-duration: 0.25s;
}

.project-title {
  color: #ffffff;
  font-weight: 900;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.project-text {
  color: #ffffff;
  font-weight: 600;
  margin-top: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.container-projects {
  width: 320px;
  text-align: center;
  display: inline-block;
}

#icon-list {
  list-style: none;
}

#link-trybe {
  text-decoration: none;
  color: green;
}

#link-trybe:hover {
  text-decoration: underline;
  color: greenyellow;
}

#profile-img {
  width: 225px;
  border-radius: 10%;
  border: 2px solid #9462e4;
  /* filter: blur(10px); */
}

#bio-text {
  font-family: Arial, Helvetica, sans-serif;
  width: 500px;
  color: white;
  display: inline-block;
  margin-top: 90px;
  font-size: 18px;
  font-weight: 500;
}

.project-article {
  display: inline-block;
  margin-left: 20px;
}

#projects {
  border-radius: 30px;
  padding: 35px 0px;
  width: 99%;
  margin-top: 35px;
  height: auto;
}

.header-letter {
  color: #6610f2;
  font-size: 36px;
}

.anchor-text {
 display: inline-block;
 margin-left: 15px;
}

.anchor-link {
  color: #cecece;
  text-decoration: none;
}

.anchor-link:hover {
  color: #ffffff;
  text-decoration: underline;
}

.container {
  background-color: #0b090a;
  border: 1px solid #6610f2;
}

.mb-6 {
  margin-bottom: 6px;
}

.mb-16 {
  margin-bottom: 16px;
}

.anchor-link:active {
  color: #6610f2;
  text-decoration: none;
}

#anchor-header {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 400;
  list-style: none;
  margin: 15px;
}

nav {
  display: inline-block;
  padding: 10px;
}

header {
  background-color: #000000;
  position: fixed;
  border-bottom: 1px solid #161a1d;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

h1 {
  margin-top: 12px;
  color: white;
  font-family: Roboto, sans-serif;
  display: inline;
}

body {
    background-color: #0e091b;
    margin: 0px;
}

main {
  text-align: center;
}

footer {
  margin-top: 50px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  padding: 10px 0px;
}