.icon-item {
  display: inline-block;
}

.icon-img {
  width: 50px;
  margin-right: 10px;
  padding: 10px 5px;
}

.icon-img:hover {
  width: 60px;
  margin-right: 10px;
  padding: 0px;
}


.icon2 {
  width: 70px;
  display: inline;
}

.text-reference {
  color: white;
  margin-left: 15px;
}

.link {
  text-decoration: none;
  color: aqua;
}

.link:hover {
  text-decoration: underline;
  color: aqua;
}

.projects-images {
  width: 300px;
  filter: blur(3px);
  margin: 3px;
  border: 3px solid #6610f2;
  border-radius: 5px;
  transition-duration: 0.25s;
}

.projects-images:hover {
  width: 310px;
  filter: blur(0px);
  margin: 0px;
  border: 3px solid #9462e4;
  border-radius: 5px;
  transition-duration: 0.25s;
}

.coming-projects {
  width: 300px;
  border-radius: 5px;
  height: 163px;
  margin: 3px;
  background-color: #000000;
  border: 3px solid #6610f2;
  margin-bottom: 12px;
}

.coming-text {
  color: #ffffff;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-top: 60px;
  font-size: 25px;
  font-weight: bolder;
}

.project-title {
  color: #ffffff;
  font-weight: 900;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.project-text {
  color: #ffffff;
  font-weight: 600;
  margin-top: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.container-projects {
  width: 320px;
  text-align: center;
  display: inline-block;
}

#icon-list {
  list-style: none;
  padding-right: 20px;
}

#link-trybe {
  text-decoration: none;
  color: green;
}

#link-trybe:hover {
  text-decoration: underline;
  color: greenyellow;
}

#profile-img {
  width: 225px;
  border-radius: 10%;
}

#bio-text {
  font-family: 'Courier New', Courier, monospace;
  width: 500px;
  color: white;
  display: inline-block;
  margin-top: 60px;
  font-size: 18px;
  font-weight: 500;
}

.project-article {
  display: inline-block;
}

.projects {
  padding-top: 10px;
  background-color: #161a1d;
  border-radius: 30px;
  width: 100%;
  border: 0;
  margin: 35px 0px 0px 0px;
  height: 500px;
}

body {
    background-color: #0b090a;
    margin-bottom: 0px;
}

main {
  text-align: center;
}

hr {
  width: 400px;
}

footer {
  background-color: #161a1d;
  margin-top: 50px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  padding: 2px;
}