.Sub-Title-About {
  font-size: 2rem;
  margin: 36px 0 10px;
}

.about-text {
  font-size: 1.2rem;
}

.about-Section {
  width: 80vw;
  margin: 45px auto;
}

.tools-container {
  justify-content: space-between;
  display: flex;
  width: 65vw;
  margin: auto;
  margin-bottom: 20px;
}

.skill-container {
  width: 131px;
  height: 70px;
  padding-left: 1.5em;
  padding-right: 1.5em;
  background-color:  rgb(244, 244, 245);
  border-radius: 7px;
  display: flex;
  align-items: center;
}

.skill-container:hover {
  box-shadow: 5px 5px 10px rgb(0 0 0 / 10%);
  transform: scale(1.05);
  transition: 0.5s;
}

.skill-name {
  font-weight: 500;
  margin-left: 8px;
  text-align: center;
  vertical-align: middle;
  line-height: 90px;
}