.center-text-container {
  width: 450px;
}

.mg-auto {
  margin: 0 auto;
}

.title {
  font-size: 3rem;
}

.text-center {
  text-align: center;
}

.main {
  background-color: white;
  height: 100vh;
  width: 99vw;
  align-items: center;
  display: flex;
}

.subhead-title {
  font-size: 26px;
}

.name-title {
  font-size: 50px;
  margin-bottom: 5px;
}

.blue {
  color: rgb(59 130 246);
}

.programming-title {
  width: 100%;
  font-size: 30px;
}

.typewriter {
  border-right: 2px solid rgb(59 130 246);
  overflow: hidden;
  white-space: nowrap;
  animation: typewriter 2.5s steps(28) 1s 1 normal both,
  blink 500ms steps(28) infinite normal;
}

.section-line {
  width: 30vw;
}

@keyframes typewriter {
  from {
    width: 0;
  }

  99% {
    border-right: 2px solid rgb(59 130 246);
    overflow: hidden;
  }

  to {
    width: 100%;
    border-right: 0;
    overflow: visible;
  }
}

@keyframes blink {
  from {
    border-right-color: rgb(59 130 246);
  }
  to {
    border-right-color: transparent;
  }
}
