.main {
  display: flex;
  align-items: center; 
  justify-content: center;
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.name-title {
  font-size: 50px;
}

.programming-title {
  font-size: 30px;
  color: #3b82f6;
}

.subhead-title {
  font-size: 26px;
}

.about-section {
  padding: 15px;
  background-color: #f3f4f6;
}

.sub-title-about {
  margin: 32px 0 10px;
  color: #3b82f6;
}

.section-title {
  text-align: center;
}