.center-text-container {
  margin: 0 auto;
  width: 450px;
  text-align: center;
}

.main {
  background-color: white;
  height: 100vh;
  width: 100vw;
  align-items: center;
  display: flex;
}

.subhead-title {
  font-size: 26px;
}

.name-title {
  font-size: 50px;
  margin-bottom: 5px;
}

.programming-title {
  width: 14.90em;
  font-size: 30px;
  color: rgb(59 130 246);
}

.typewriter {
  border-right: 2px solid rgb(59 130 246);
  overflow: hidden;
  white-space: nowrap;
  animation: typewriter 3s steps(28) 1s 1 normal both,
  blink 500ms steps(28) infinite normal;
}

@keyframes typewriter {
  from {
    width: 0;
  }

  99% {
    border-right: 2px solid rgb(59 130 246);
  }

  to {
    width: 14.90em;
    border-right: 0;
  }
}

@keyframes blink {
  from {
    border-right-color: rgb(59 130 246);
  }
  to {
    border-right-color: transparent;
  }
}
